* {
  text-decoration: none;
}
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: #ffffff;
  --accent-color: #2196f3;
  --mail-tel-hover-color: #2196f3;
  --hover-color: #188ce8;
  --hero-text-color: #ffffff;
  --main-background-color: #ffffff;
  --footer-background-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --primary-button-color: #2196f3;
  --border-color: #afb1b8;
  --secondary-background-color: #f5f4fa;
  --clients-hover-color: #2196f3;
  --main-icon-fill: #757575;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;

  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section:nth-child(3) {
  background-color: var(--secondary-background-color);
}

/******************************************/

body {
  background-color: var(--main-background-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
}

/* Шапка сайта */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}
.logo-web {
  color: var(--accent-color);
}

.site-nav {
  padding: 0px;
  margin: 0px;
}
.site-nav {
  display: flex;
  margin-right: auto;
  margin-left: 85px;
}
.site-nav .list:not(:last-child) {
  margin-right: 50px;
}
.site-nav a {
  display: flex;
  padding: 32px 0px;
  color: var(--primary-text-color);
}
.site-nav .list {
  display: flex;
  align-items: center;
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--primary-button-color);
}
.site-nav .list a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.site-nav .list .current {
  color: var(--accent-color);
}
.navigation {
  display: flex;
  align-items: center;
}
/* Шапка. Почта и телефон */
.mail-icon {
  width: 16px;
  height: 12px;
  fill: var(--main-icon-fill);
}
.mob-icon {
  width: 10px;
  height: 16px;
  fill: var(--main-icon-fill);
}
.mail-tel .list:not(:last-child) {
  margin-right: 30px;
}
.mail-tel {
  display: flex;

  margin: 0px;
  padding: 0px;
}
.mail-tel a {
  color: var(--secondary-text-color);
}
.mail-tel a:hover,
.mail-tel a:focus {
  color: var(--mail-tel-hover-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Акцентные кнопки */

.button {
  border: solid transparent;
  color: var(--third-text-color);
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  background: var(--primary-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:hover,
.button:focus {
  cursor: pointer;
  background: var(--hover-color);
}

/* Футер */

.footer {
  background-color: var(--footer-background-color);
}
.logo-container {
  display: inline-block;
  margin-right: 69px;
}

.footer-logo {
  display: inline-block;

  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

.address-info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.web-title {
  color: var(--accent-color);
}
.studio-title,
.address-items {
  color: var(--third-text-color);
}

.footer-mail-tel {
  color: var(--footer-contacts-color);
}

.footer-flexbox {
  display: flex;
}
.footer-container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: center;
}

.footer-flexbox:not(:last-child) {
  width: 285px;
  margin-right: 30px;
}
.footer-flexbox .asign {
  width: 570px;
}

.address {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-mail-tel {
  display: inline-block;
  color: var(--footer-contacts-color);
  margin-top: 9px;
}

.footer-logo {
  margin-bottom: 20px;

  color: var(--wight-color);
}

.footer .link {
  color: var(--wight-color);
}

.bold-text {
  display: flex;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
  text-transform: uppercase;
}
