* {
  text-decoration: none;
}
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: #ffffff;
  --accent-color: #2196f3;
  --mail-tel-hover-color: #2196f3;
  --hover-color: #188ce8;
  --hero-background-color: #c4c4c4;
  --hero-overlay-color: rgba(47, 48, 58, 0.4);
  --hero-text-color: #ffffff;
  --main-background-color: #ffffff;
  --footer-background-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --primary-button-color: #2196f3;
  --features-background-color: #f5f4fa;
  --clients-hover-color: #2196f3;
  --socials-hover-color: #2196f3;
  --socials-hover-fill: #ffffff;
  --icon-fill: #afb1b8;
  --team-background-color: #f5f4fa;
  --footer-icon-fill: #ffffff;
  --footer-icon-background-color: rgba(255, 255, 255, 0.1);
}

.list {
  list-style: none;
}
.socials-list {
  list-style: none;
}
.footer-socials {
  list-style: none;
}
.site-nav-list {
  list-style: none;
}

.container {
  width: 1200px;

  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/******************************************/

body {
  background-color: var(--main-background-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
}

/* Шапка сайта */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}
.logo-web {
  color: var(--accent-color);
}
.site-nav {
  padding: 0px;
  margin: 0px;
}
.site-nav {
  display: flex;
  margin-right: auto;
  margin-left: 85px;
}
.site-nav-list:not(:last-child) {
  margin-right: 50px;
}
.site-nav-list a {
  display: flex;
  padding: 32px 0px;
  color: var(--primary-text-color);
}
.site-nav-list {
  display: flex;
  align-items: center;
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--primary-button-color);
}
.site-nav-list {
  font-weight: 500;
  font-size: 14px;

  letter-spacing: 0.02em;
}
.site-nav-list .current {
  color: var(--accent-color);
}
.navigation {
  display: flex;
  align-items: center;
}

/* Шапка. Почта и телефон */

.contacts {
  display: flex;
  margin: 0px;
  padding: 0px;
  font-weight: 500;
}
.contacts .list:not(:last-child) {
  margin-right: 30px;
}
.envelope-icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);
}
.smartphone-icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);
}

.contacts-item {
  color: var(--secondary-text-color);
}
.contacts-item:hover,
.contacts-item:focus {
  color: var(--mail-tel-hover-color);
}

/* Акцентные кнопки */

.button {
  border: solid transparent;
  color: var(--third-text-color);
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  background: var(--primary-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:hover,
.button:focus {
  cursor: pointer;
  background: var(--hover-color);
}

/* Футер */

.footer {
  background-color: var(--footer-background-color);
}
.footer-container {
  display: flex;
}
.address-info {
  padding: 60px 0px;
  font-style: normal;
}
.footer-logo {
  display: flex;
  margin-bottom: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.studio-title {
  color: var(--third-text-color);
}
.address-items {
  margin-right: 70px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;
  color: var(--third-text-color);
}
.footer-contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}
.socials-container {
  margin-right: 93px;
  padding-top: 72px;
  padding-bottom: 100px;
}
.text-join {
  display: flex;
  margin-bottom: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
}
.footer-socials {
  display: flex;
  padding: 0px;
  margin: 0px;
}
.footer-socials-list {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.foter-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-icon-background-color);
  fill: var(--footer-icon-fill);
}
.foter-link:hover {
  background-color: var(--socials-hover-color);
  fill: var(--socials-hover-fill);
}

.footer-socials-list:nth-child(4) {
  margin-right: 0px;
}
.asign-container {
  display: block;
  padding-top: 72px;
  padding-bottom: 94px;
}
.subscribe-text {
  display: flex;
  margin-bottom: 20px;

  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
}
